* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  cursor: pointer;
  border: 1px solid #3882f6;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 25px;
}

/* section1*/

.section1 {
  background-color: #1f2937;
  padding: 20px 50px 50px 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.left-section,
.right-section {
  display: flex;
  align-items: center;
  gap: 16px;
}

.left-section {
  font-size: 24px;
  color: #f9faf8;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 16px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.container {
  display: flex;
  gap: 18px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.text {
  flex: 1;
}

.text p:nth-child(1) {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.text p:nth-child(2) {
  font-size: 18px;
  color: #e5e7eb;
}

.image {
  flex: 1;
  background-color: #ddd;
  width: 100%;
}

/* section2*/

.section2 {
  text-align: center;
  padding: 20px 50px 50px 50px;
}

.info {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin-bottom: 50px;
}

.content-info {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.box-info {
  max-width: 150px;
}

.box-info img {
  width: 150px;
  height: 150px;
  border: 3px solid #3882f6;
  border-radius: 15px;
}

/* section3 */

.section3 {
  display: flex;
  justify-content: center;
  background-color: #e5e7eb;
}

.quote {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.quote p:nth-child(1) {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
}

.quote p:nth-child(2) {
  color: #1f2937;
  font-size: 16px;
  font-weight: 800;
  align-self: flex-end;
}

/* section4 */

.section4 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em;
}

.call-to-action {
  display: flex;
  background-color: #3882f6;
  width: 60%;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
  border-radius: 10px;
}

.text-call p:nth-child(1) {
  font-size: 22px;
  color: #f9faf8;
  font-weight: bolder;
}

.text-call p:nth-child(2) {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: lighter;
}

.btn2 {
  border: 2px solid white;
}

/* footer */

.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 12px;
  font-weight: lighter;
  text-align: center;
  padding: 2em 0;
}
